%tr
  %td
    %h1 Hi #{@recipient.email},
    %p
      You have a new message from
      %b
        #{@sender.email}.

    %p
      Since instant communication and gratification is part of our culture please make sure to respond as quickly as you can.
